---
http_interactions:
- request:
    method: get
    uri: https://www.rijksmuseum.nl/api/en/collection?culture=en&format=json&imgonly=true&key=<RIJKSMUSEUM_API_KEY>&p=&ps=100&q=search_term
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"elapsedMilliseconds\": 0,\r\n  \"count\": 0,\r\n  \"countFacets\":
        {\r\n    \"hasimage\": 0,\r\n    \"ondisplay\": 0\r\n  },\r\n  \"artObjects\":
        [],\r\n  \"facets\": [\r\n    {\r\n      \"facets\": [],\r\n      \"name\":
        \"principalMaker\",\r\n      \"otherTerms\": 0,\r\n      \"prettyName\": 10\r\n
        \   },\r\n    {\r\n      \"facets\": [],\r\n      \"name\": \"type\",\r\n
        \     \"otherTerms\": 0,\r\n      \"prettyName\": 3\r\n    },\r\n    {\r\n
        \     \"facets\": [],\r\n      \"name\": \"dating.period\",\r\n      \"otherTerms\":
        0,\r\n      \"prettyName\": 4\r\n    },\r\n    {\r\n      \"facets\": [],\r\n
        \     \"name\": \"place\",\r\n      \"otherTerms\": 0,\r\n      \"prettyName\":
        2\r\n    },\r\n    {\r\n      \"facets\": [],\r\n      \"name\": \"material\",\r\n
        \     \"otherTerms\": 0,\r\n      \"prettyName\": 5\r\n    },\r\n    {\r\n
        \     \"facets\": [],\r\n      \"name\": \"technique\",\r\n      \"otherTerms\":
        0,\r\n      \"prettyName\": 8\r\n    },\r\n    {\r\n      \"facets\": [],\r\n
        \     \"name\": \"normalized32Colors.hex\",\r\n      \"otherTerms\": 0,\r\n
        \     \"prettyName\": 9\r\n    }\r\n  ]\r\n}"
  recorded_at: Tue, 22 May 2018 00:00:31 GMT
recorded_with: VCR 4.0.0
