---
http_interactions:
- request:
    method: get
    uri: https://www.rijksmuseum.nl/api/en/collection?culture=en&format=json&imgonly=true&key=<RIJKSMUSEUM_API_KEY>&p=&ps=100&q=Karlsruhe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"elapsedMilliseconds\": 0,\r\n  \"count\": 4,\r\n  \"countFacets\":
        {\r\n    \"hasimage\": 4,\r\n    \"ondisplay\": 0\r\n  },\r\n  \"artObjects\":
        [\r\n    {\r\n      \"links\": {\r\n        \"self\": \"https://www.rijksmuseum.nl/api/en/collection/RP-T-1962-67\",\r\n
        \       \"web\": \"https://www.rijksmuseum.nl/en/collection/RP-T-1962-67\"\r\n
        \     },\r\n      \"id\": \"en-RP-T-1962-67\",\r\n      \"objectNumber\":
        \"RP-T-1962-67\",\r\n      \"title\": \"Gezicht op een laan met Schloss Karlsruhe\",\r\n
        \     \"hasImage\": true,\r\n      \"principalOrFirstMaker\": \"Johann Goll
        van Frankenstein (I)\",\r\n      \"longTitle\": \"Gezicht op een laan met
        Schloss Karlsruhe, Johann Goll van Frankenstein (I), 1732 - 1785\",\r\n      \"showImage\":
        false,\r\n      \"permitDownload\": false,\r\n      \"webImage\": {\r\n        \"guid\":
        \"9761e67d-1fb7-4bc9-8f6a-8d645285d2ca\",\r\n        \"offsetPercentageX\":
        0,\r\n        \"offsetPercentageY\": 0,\r\n        \"width\": 2074,\r\n        \"height\":
        2074,\r\n        \"url\": \"https://lh3.ggpht.com/VzU8p_249KAKZoAYdcmnYO45DgmYl9gtBRkO8GSbaptDLXGeYVjJ5rcLfOOuXTd6FG25Z6rVyKaNuzcWBj9RnxXGLA\"\r\n
        \     },\r\n      \"headerImage\": {\r\n        \"guid\": \"75ba8cd6-bff0-498f-898b-5a2f3d93c9bc\",\r\n
        \       \"offsetPercentageX\": 0,\r\n        \"offsetPercentageY\": 0,\r\n
        \       \"width\": 460,\r\n        \"height\": 460,\r\n        \"url\": \"https://lh5.ggpht.com/rQUpXMZxjalxBSBJ9yU2NxbNh8W6ZgbgVkfBNJNYjgLZUyysMw_b2rHQ0vnLhCs5E5Ppdsv9g4yOk0M5qEK8RR9W0e0\"\r\n
        \     },\r\n      \"productionPlaces\": []\r\n    },\r\n    {\r\n      \"links\":
        {\r\n        \"self\": \"https://www.rijksmuseum.nl/api/en/collection/RP-P-1964-2912\",\r\n
        \       \"web\": \"https://www.rijksmuseum.nl/en/collection/RP-P-1964-2912\"\r\n
        \     },\r\n      \"id\": \"en-RP-P-1964-2912\",\r\n      \"objectNumber\":
        \"RP-P-1964-2912\",\r\n      \"title\": \"Portret van Karel Frederik van Baden\",\r\n
        \     \"hasImage\": true,\r\n      \"principalOrFirstMaker\": \"Johann Esaias
    [...]
